body {
background-image: url("https://raw.githubusercontent.com/petronip/PPWEBSITE/master/logo.jpg");
background-repeat:no-repeat;
background-position: 50% 50%;
}
/* Body properties that is exclusive to the background */
table {
    border-collapse: collapse;
    width: 100%;
}
/* Width of the table */
th, td {
    text-align: left;
    padding: 8px;
}
/* Properties of the table */

table th{
  background-color: cadetblue

}

/* The color of the row */

tr:nth-child(even) {background-color: #f2f2f2;}
/* Each row changes colors */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/* Navigation bar properties */

li {
    float: left;
}
/* The list properties */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Properties for the list */

li a:hover:not(.active) {
    background-color: #111;
}
/* Color for background */

.active {
    background-color: #4CAF50;
}

h3{
	text-align: center;
}
/* Header 3 properties */

img{
	height: 250px;
	width: 250px;
}
/* Properties for image */

#myInput {
background-image: url('https://image.freepik.com/free-icon/zoom-or-search-tool_318-34054.jpg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 10%;
  size:100%
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/* Properties for the search bar */
  

  