h1 {
	text-align: center;
	
}

table td {
	border: 1px solid black;
	background-color: CadetBlue;
	text-align: 
}



@keyframes bgcolor
{
    0% {
        background-color: #66bf39
    }

    30% {
        background-color: #45a3e5
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
} 
body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
	text-align: center;
}