h1 {
	text-align: center;
	
}
/* Centers the header text */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/* Navigation bar properties */

li {
    float: left;
}
/* Puts text on the left */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Navigation editor */

li a:hover:not(.active) {
    background-color: #111;
}


.active {
    background-color: #4CAF50;
}
/* More navigation properties */

body {
background-image: url("https://raw.githubusercontent.com/petronip/PPWEBSITE/master/logo.jpg");
background-repeat:no-repeat;
background-position: 50% 0%;
}
/* Background properties */

h3{
	text-align: center;
}
/* Header 3 properties */

img {
height: 50px;
width: 50px;

}

/* Image properties */